doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='scss/style.css')
    title Olympus E5 M-II
.main
    .nav-container
        .nav
            h1#logo Olympus
            ul
                li
                    a(href="#features") Features
                li
                    a(class="order" href="#soon") Order

    section.home
        .showcase
            h2 Olympus e5 mark 2
            img(src="/img/olympus_trans.png" alt="olympus-transparent")
            .info
                h3 Small but powerful.
                p The new Olympus e5 mark 2 offers 4k at 50 fps